<html>
  <head>
    <title>goKmon: Monitor Your Nodes</title>
	<script type="text/javascript" src="/gokmon/res/jquery.min.js"></script>
	<script type="text/javascript" src="/gokmon/res/highstock.js"></script>
	<script type="text/javascript" src="/gokmon/res/hstheme.js"></script>
    <script type="text/javascript">
      {{with $x := .}}
      {{range $idx, $stattype := $x.StatTypes}}
      
      $("document").ready(function() {
		  var seriesOptions = [],
		  yAxisOptions = [],
		  seriesCounter = 0,
		  names = [
			  {{range $nidx, $nodename := $x.NodeNames}}
			  '{{$nodename}}',
			  {{end}}
			  ],
		  colors = Highcharts.getOptions().colors;
		  
		  $.each(names, function(i, name) {
      
			  $.getJSON('/gokmon/jsondata?s={{$stattype}}&n='+ name.toLowerCase() + '&callback=?' ,function(data) {
      
				  seriesOptions[i] = {
					  name: name, data: data
					  };
				  // As we're loading the data asynchronously, we
				  // don't know what order it will arrive. So we keep
				  // a counter and create the chart when all the data
				  // is loaded.
				  seriesCounter++;
				  if (seriesCounter == names.length) {
					  createChart();
					  }
				  });
			  });
      
		  // create the chart when all data is loaded
		  function createChart() {
      
			  chart = new Highcharts.StockChart({
				  chart: {
					  renderTo: 'chart_{{$idx}}',
				  },  
	              legend: {enabled:true},
				  series: seriesOptions,
				  title: {text: '{{$stattype}}'},
				  });
			  }
      
      });
      {{end}}
      {{end}}
    </script>
  </head>
  <body>
    <h1 style="text-align:center;">goKmon: Monitor Your Nodes</h1>
    
    {{range $index, $stattype := .StatTypes}}
      <div id="chart_{{$index}}"
           style="min-width: 500px; height: 400px; margin-left:auto;
                  margin-right:auto; margin-top: 30px;">
		{{$stattype}}: No Data Available
	  </div>
    {{end}}
  </body>
</html>
